@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("/public/fonts/Roboto-Regular.ttf");
}

.Button {
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px 25px;

  border: 2px solid transparent;
  border-radius: 10px;

  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.2em;

  color: #FFFFFF;
  background-color: #000000;
}

.Button_state_hover {
  background-color: #5F5F5F;
}

.Button_state_disabled {
  background-color: #CFCFCF;
}

.Button_state_hover {
  border: 2px solid transparent;

  background-color: #5F5F5F;
}

.Button_secondary {
  border: 2px solid #000000;

  color: #000000;
  background-color: transparent;
}

.Button_secondary.Button_state_hover {
  border: 2px solid #5F5F5F;

  color: #5F5F5F;
}

.Button_secondary.Button_state_disabled {
  border: 2px solid #CFCFCF;

  color: #CFCFCF;
}

.Button_dark {
  color: #000000;
  background-color: #FFFFFF;
}

.Button_dark.Button_state_hover {
  background-color: #CFCFCF;
}

.Button_dark.Button_state_disabled {
  background-color: #5F5F5F;
}

.Button_dark.Button_secondary {
  border: 2px solid #FFFFFF;

  color: #FFFFFF;
  background-color: transparent;
}

.Button_dark.Button_secondary.Button_state_hover {
  border: 2px solid #CFCFCF;

  color: #CFCFCF;
}

.Button_dark.Button_secondary.Button_state_disabled {
  border: 2px solid #5F5F5F;

  color: #5F5F5F;
}
