.App {
  margin-left: 10px;
}

.App-button-task {
  display: inline-block;

  border: 2px solid black;
}

.App-button-task_light {
  padding: 30px 15px;
}

.App-button-task_dark {
  padding: 30px 15px;
  background-color: #000000;
}

.App-card-task {
  display: flex;
}